.variants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex-wrap: wrap;
}

.taskText {
    font-size: 46px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}