<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Math battle — Онлайн Игра для Любителей Математики</title>
		<meta name="description" content="Математическая битва — захватывающая онлайн игра для проверки знаний и развития математических навыков. Брось вызов себе и другим игрокам, прокачай логику и стань лучшим!">
		<meta name="keywords" content="математическая битва, онлайн математика, игра на логику, математические игры, тренировка ума, развитие мышления, проверка знаний, математический поединок, обучающие игры, соревнования по математике">
		<meta property="og:title" content="Math battle — Онлайн Игра для Любителей Математики">
		<meta property="og:description" content="Испытай свои знания в математическом поединке! Участвуй в онлайн игре, развивай мышление и становись чемпионом.">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://math-battle.ru" />
		<meta property="og:image" content="https://app.math-battle.ru/assets/MathBattleCover-nnbN8NsD.png" />
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Math battle — Онлайн Игра для Любителей Математики">
		<meta name="twitter:description" content="Развивай логику и проверяй математические знания в захватывающей онлайн битве." />
		<meta name="twitter:image" content="https://app.math-battle.ru/assets/MathBattleCover-nnbN8NsD.png" />		
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #07090C;
	}
</style>
