---
import '../assets/theme.css';
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Space+Grotesk:wght@500;600;700&display=swap"
			rel="stylesheet"
		/>
		<title>Math battle — Онлайн Игра для Любителей Математики</title>
		<meta name="description" content="Математическая битва — захватывающая онлайн игра для проверки знаний и развития математических навыков. Брось вызов себе и другим игрокам, прокачай логику и стань лучшим!">
		<meta name="keywords" content="математическая битва, онлайн математика, игра на логику, математические игры, тренировка ума, развитие мышления, проверка знаний, математический поединок, обучающие игры, соревнования по математике">
		<meta property="og:title" content="Math battle — Онлайн Игра для Любителей Математики">
		<meta property="og:description" content="Испытай свои знания в математическом поединке! Участвуй в онлайн игре, развивай мышление и становись чемпионом.">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://math-battle.ru" />
		<meta property="og:image" content="https://app.math-battle.ru/assets/MathBattleCover-nnbN8NsD.png" />
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Math battle — Онлайн Игра для Любителей Математики">
		<meta name="twitter:description" content="Развивай логику и проверяй математические знания в захватывающей онлайн битве." />
		<meta name="twitter:image" content="https://app.math-battle.ru/assets/MathBattleCover-nnbN8NsD.png" />
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date();
			for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
			k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
			})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

			ym(102128342, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
			});
		</script>
		<!-- /Yandex.Metrika counter -->
	</head>
	<body>
		<slot />
	</body>
</html>
