.taskDescription {
    font-size: 40px;
    font-weight: 600;
    color: #ffffffaa;
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
}

.taskAnswer {
    font-size: 20px;
    font-weight: 500;
    color: #ffffffdd;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

.taskTime {
    font-size: 20px;
    font-weight: 500;
    color: #ffffffaa;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

.errorAnswer {
    color: #ff0000aa;
}

.successAnswer {
    color: #4caf50dd;
}